/* Variables */
:root {
  --main-font: "Rubik", sans-serif;
  --secondary-font: "Rubik Scribble", sans-serif;
  --black-bg: #151313;
  --red-bg: #740606;
  --contrast-color: #fff;
  --movie-description-color: #5c5b5b;
  --hover-color: #e27878;
}

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
  transition: transform 0.3s ease, color 0.3s ease;
}
body {
  font-family: var(--main-font);
  line-height: 1.6;
  background-color: var(--black-bg);
}
main {
  min-height: 100vh;
  background-color: var(--black-bg);
}

/* Navigation */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  color: var(--contrast-color);
  background-color: var(--red-bg);
  padding: 10px 15px;
}
.app-name {
  display: flex;
  align-items: center;
  gap: 20px;
}
.app-name h1 {
  font-family: var(--secondary-font);
}
.mobile-toggle {
  display: block;
  color: var(--contrast-color);
  background-color: var(--red-bg);
}
.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: var(--black-bg);
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  z-index: 1000;
  color: white;
}
.mobile-menu img {
  width: 60px;
  margin: 20px;
}
.mobile-menu a {
  color: white;
  padding: 15px;
  text-decoration: none;
  text-align: left;
  display: block;
}
.mobile-menu a:hover {
  background-color: var(--contrast-color);
}
.mobile-menu.active {
  display: flex;
}
.mobile-view {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}
.app-logo,
.nav-links .login-icon,
.nav-links .favorit-icon,
.nav-links .select-category {
  display: none;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-icon {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
}

/* Sort */
.dropdown {
  position: relative;
}
.sorting-dropdown {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: var(--contrast-color);
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    opacity: 0.9;
}
.sorting-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.sorting-dropdown a:hover {
    background-color: var(--red-bg);
    color: var(--contrast-color);
}
.show {
    display: block;
}

/* Search bar */
.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
}
.search-icon {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.search-bar {
  position: absolute;
  top: 0;
  left: -50px;
  opacity: 0;
  width: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.search-bar input {
  border: none;
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  width: 100%;
}
.search-bar.expanded {
  opacity: 1;
  width: 200px;
  height: 45px;
}

/* Category */
.category-popup-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.category-popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  background-color: var(--contrast-color);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.category-popup-header {
  margin-bottom: 20px;
  color: var(--red-bg);
}
.category-close-icon {
  cursor: pointer;
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
}
.category-popup-content label {
  display: block;
  margin-bottom: 10px;
}
.category-popup-content input[type="checkbox"] {
  margin-right: 10px;
}
.category-popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.category-popup-buttons button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--red-bg);
  color: var(--contrast-color);
}

/* Timer block */
.timer-block {
  display: flex;
  justify-content: center;
  color: var(--contrast-color);
  padding: 40px 20px 0;
}
.timer-block.hidden {
  display: none;
}
.timer-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--red-bg);
  padding: 20px;
  border-radius: 10px;
}
.fa-hourglass {
  font-size: 60px;
}
.timer-details,
.timer-title {
  text-align: center;
}
.timer-details p {
  font-size: 12px;
}
.timer-content {
  display: flex;
  gap: 20px;
}
.input-btns {
  display: flex;
  justify-content: space-evenly;
  margin: 15px auto 0;
}
input#time-input {
  border-radius: 8px;
  padding: 0 10px;
}
#start-btn {
  background-color: #c0392b;
  color: #fff; 
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.3); 
  font-family: var(--main-font);
  position: relative;
  transform: perspective(1px) translateZ(0);
}
#start-btn:hover {
  background-color: #e74c3c;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6), inset 0 2px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(-4px);
}
#start-btn:focus, #start-btn:active {
  outline: none;
  background-color: #e74c3c;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6), inset 0 2px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}
.timer-close-icon {
  position: absolute;
  top: 12px;
  right: 15px;
  color: var(--contrast-color);
  background-color: var(--red-bg);
  font-size: 24px;
  cursor: pointer;
}
#countdown {
  margin: 10px auto 0;
}

/* Time-up popup */
.time-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.time-popup-content {
  background-color: var(--contrast-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 330px;
  text-align: center;
}
.time-popup-content h3 {
  margin-bottom: 20px;
}
.time-popup-content button {
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--red-bg);
  color: var(--contrast-color);
}

/* Movie cards */
#movie-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 40px 20px;
  margin: 0 auto 45px;
  max-width: 1200px;
  width: 100%;
}
.movie-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 370px;
  background-color: var(--contrast-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.movie-card:hover {
  transform: scale(1.05);
}
.movie-title {
  font-size: 1.2em;
  margin: 10px;
  text-align: center;
  color: #333;
  height: 45px;
  display: flex;
  justify-content: center;
}
.movie-card-layout {
  display: flex;
  padding: 10px;
  cursor: pointer;
}
.movie-poster {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}
.movie-details-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie-details,
.movie-description,
.movie-director {
  font-size: 0.9em;
  color: var(--movie-description-color);
  margin: 5px 0;
}
.movie-director {
  display: flex;
  font-weight: 700;
  margin: 10px;
}
.movie-description {
  font-size: 0.85em;
  max-height: 9em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.movie-extra-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 17px;
  background-color: var(--red-bg);
  border-top: 1px solid #ddd;
  margin-top: auto;
}
.movie-price {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--contrast-color);
}
.movie-info-icon {
  cursor: pointer;
  color: var(--contrast-color);
}
.rating {
  background: none;
  cursor: pointer;
}
.rating i {
  padding: 5px;
  font-size: 1.2em;
  color: #ccc;
}
.movie-price:hover,
.movie-info-icon:hover,
.rating:hover i,
.rating:focus i {
  color: var(--hover-color);
}

/* Popups */
.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-container {
  background-color: var(--contrast-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.popup-header {
  margin: 0;
  font-size: 20px;
  line-height: 1.1;
  padding: 5px;
}
.close-icon {
  font-size: 24px;
  cursor: pointer;
}

/* Comments popup */
.mini-poster {
  height: 50px;
  width: auto;
  object-fit: cover;
}
.comments-section {
  margin-bottom: 10px;
}
.comment-input {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px groove var(--movie-description-color);
  background-color: var(--contrast-color);
}
.comment {
  margin: 5px;
  padding: 5px;
  border: 1px solid #5c5b5b;
  border-radius: 5px;
}
.submit-button {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--red-bg);
  color: white;
  border: none;
  border-radius: 10px;
}

/* Movie details popup */
.popup-movie-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 10px;
}
.popup-movie-poster {
  height: 300px;
  border-radius: 10px;
  perspective: 1000px;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.popup-movie-poster:hover {
  transform: rotateY(15deg) rotateX(5deg);
}
.popup-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.popup-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* Footer */
footer {
  background-color: var(--red-bg);
  color: var(--contrast-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  font-size: 10px;
}

/* Media Queries */
@media screen and (min-width: 700px) {
  .mobile-toggle {
    display: none;
  }
  .nav-links .login-icon,
  .nav-links .favorit-icon,
  .nav-links .select-category {
    display: flex;
  }
  .navbar {
    padding: 10px 40px;
  }
  .app-logo {
    display: block;
    width: 60px;
    height: 60px;
  }
  .app-logo:hover {
    transform: scale(1.2);
  }
  .app-logo img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 2px 1px #a8a7a7;
  }
  .timer-navbar-mobile {
    display: none;
  }
  .user-icon i {
    font-size: 25px;
  }
  .timer-block {
    padding: 40px 0 0;
  }
  .timer-details p {
    font-size: 16px;
  }
  #start-btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  #movie-layout {
    justify-items: center;
  }
  .movie-card {
    max-width: 350px;
  }
  .popup-content {
    flex-direction: row;
  }
  footer {
    font-size: 16px;
  }
}
